{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
    <div class="content-box">
    <form method="post" onsubmit="submitData()" class="skyfly-form">
        {% csrf_token %}
                <span class="content-box__title">From</span>
                <div class="input-group-wrapper">
                    <div class="input-group city-input">
                        <input name="city-from_0" type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn__add" type="button"><span class="icon-plus"></span></button>
                            <button class="btn btn__remove" type="button"><span class="icon-minus"></span></button>
                        </div>
                    </div>
                </div>

                <span class="content-box__title">To</span>
                <div class="input-group-wrapper">
                    <div class="input-group city-input">
                        <input name="city-to_0" type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn__add" type="button"><span class="icon-plus"></span></button>
                            <button class="btn btn__remove" type="button"><span class="icon-minus"></span></button>
                        </div>
                    </div>
                </div>

                <span class="content-box__title">When?</span>
                <div class="input-group-wrapper">
                    <div class="input-group date-input">
                        <input name="flight-date_0" type="text" class="form-control js-datepickerInput">
                        <div class="input-group-append">
                            <button class="btn js-datepickerButton" type="button"><span class="icon-calendar"
                                                                                        style="font-size: 14px"></span>
                            </button>
                            <button class="btn btn__add" type="button"><span class="icon-plus"></span></button>
                            <button class="btn btn__remove" type="button"><span class="icon-minus"></span></button>
                        </div>
                    </div>
                </div>
                <span class="content-box__title">Email</span>
                <div class="input-group-wrapper">
                    <div class="input-group email-input mb-2">
                        <input name="email" type="text" class="form-control">
                    </div>
                </div>

                {# TODO: add email input and send email with request link #}
                <button class="btn btn-primary submit-skyfly-request" type="submit"><span class="icon-switch"></span></button>
                <div class="skyfly-form__progress-bar">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
    </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/skyfly.js' %}" type="text/javascript"></script>
{% endblock %}