.sidebar {
  position: absolute;
  width: 30rem;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @include respond(tab-land) {
    position: unset;
    width: unset;
    right: unset;
    top: unset;
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% - #{$header-width-tab-land});
  }
}