.sidebar {
  position: absolute;
  width: 30rem;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);


  @include respond(phone) {
    width: 25rem;
  }
  @include respond(phone-small) {
    width: 20rem;
  }

}