*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("../img/background_big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include respond(tab-land) {
    background-image: url("../img/background_medium.jpg");
  }

}
