body {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 400;
}

.heading-primary {
  text-transform: uppercase;
  color: white;
  text-shadow: rgba(255, 255, 255, .5) 2px 5px 8px;
  display: flex;
  justify-content: space-around;

  &__letter {
    font-size: 5rem;
    font-weight: 600;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    &:hover {
      width: calc(100% - 2px);
      outline: 1px solid rgba(255, 255, 255, .5);
    }
  }

  @include respond(tab-land) {
    flex-direction: column;
  }
}