body {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 400;
  padding: 2rem;

  @include respond(tab-land) {
    padding: 0;
  }
}

.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  text-shadow: rgba($color-grey-light-2, 1) 2px 5px 8px;
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  font-weight: 600;

  &__letter {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all $transition-time-medium;
    outline: 1px solid transparent;
    cursor: pointer;

    &,  // TODO: refactor
    &:link,
    &:active,
    &:visited,
    &:hover {
      color: $color-white;
      text-decoration: none;
    }

    &:hover {
      width: calc(100% - 2px);
      outline: 1px solid rgba($color-grey-dark-2, .5);
    }
  }

  @include respond(tab-land) {
    font-size: 4rem;
    flex-direction: column;
    height: 100vh;
    width: 8rem;
  }
}

.invalid-feedback {
  font-size: 1.3rem;
}