.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: block;

  &__navigation {
    max-width: 50rem;
    width: 90%;
    border-top: 1px solid white;
    margin: 0 auto;
  }

  &__list {
    padding-top: .5rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  &__link {
    transition: all $transition-time-medium;

    &,
    &:link,
    &:visited {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  @include respond(tab-port) {
    right: 0;
    width: calc(100% - 8rem);
  }
}