.email-input,
.date-input,
.city-input {
    max-width: 400px;
    margin: 0 auto;
}

.city-input input {
    text-transform: uppercase;
}

.date-input button,
.city-input button {
    font-size: 9px;
    border: 1px solid darkgray;
}

.progress {
    margin: 0 auto;
    max-width: 400px;
}