body {
    font-family: 'Sawarabi Mincho', sans-serif;
}

cite {
    font-family: 'Tangerine', cursive;
    font-size: 22px;
    font-style: normal;
}

a {
    text-decoration: none;
}

.tweet p {
    font-size: 12px;
}

.centered {
    margin: auto;
    width: 50%;
}

.is-fullwidth {
    width: 100%;
}

.text-centered {
    text-align: center;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: table-cell;
    transform: translateX(50%);
}