*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 400; }

.heading-primary {
  text-transform: uppercase;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.5) 2px 5px 8px;
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  font-weight: 600; }
  .heading-primary__letter {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .heading-primary__letter:hover {
      width: calc(100% - 2px);
      outline: 1px solid rgba(255, 255, 255, 0.5); }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 4rem;
      flex-direction: column;
      height: 100vh;
      width: 8rem; } }

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer__border {
    max-width: 60rem;
    width: 90%;
    border-top: 1px solid white;
    margin-bottom: 5px; }
  .footer__navigation {
    max-width: 50rem;
    width: 90%; }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .footer__link {
    transition: all .3s; }
    .footer__link, .footer__link:link, .footer__link:visited {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
    .footer__link:hover {
      border-bottom: 1px solid currentColor; }
  @media (max-width: 56.25em) {
    .footer {
      right: 0;
      width: calc(100% - 8rem); } }

body {
  min-height: 100vh;
  background-image: url("../img/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
