html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 400; }

.heading-primary {
  text-align: center;
  font-size: 4.5rem; }
  .heading-primary__letter {
    font-size: 5rem;
    font-weight: 600;
    width: 9%;
    display: inline-block;
    transition: all 1s;
    position: relative;
    backface-visibility: hidden; }
    .heading-primary__letter--shadow {
      color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
      transition: all 1s;
      backface-visibility: hidden; }
    .heading-primary__letter:hover {
      transform: scale(1.3); }
    .heading-primary__letter:hover > .heading-primary__letter--shadow {
      transform: translate(-50%, -50%) scale(0.8);
      text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.65); }
    @media (max-width: 37.5em) {
      .heading-primary__letter {
        font-size: 3rem;
        width: 8%; } }
