*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("../img/background_big.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 75em) {
    body {
      background-image: url("../img/background_medium.jpg"); } }
  @media (max-width: 37.5em) {
    body {
      background-image: url("../img/background_small.jpg"); } }

body {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: 400;
  padding: 2rem; }
  @media (max-width: 75em) {
    body {
      padding: 0; } }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  text-shadow: #eeeeee 2px 5px 8px;
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  font-weight: 600; }
  .heading-primary__letter {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.4s;
    outline: 1px solid transparent;
    cursor: pointer; }
    .heading-primary__letter, .heading-primary__letter:link, .heading-primary__letter:active, .heading-primary__letter:visited, .heading-primary__letter:hover {
      color: #fff;
      text-decoration: none; }
    .heading-primary__letter:hover {
      width: calc(100% - 2px);
      outline: 1px solid rgba(153, 153, 153, 0.5); }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 4rem;
      flex-direction: column;
      height: 100vh;
      width: 8rem; } }

.invalid-feedback {
  font-size: 1.3rem; }

.content-box {
  padding: 5rem 8rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .5rem;
  width: 40vw; }
  .content-box__title {
    font-size: 2.5rem; }
  @media (max-width: 75em) {
    .content-box {
      width: 90vw;
      padding: 1rem 2rem; } }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh; }

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: block; }
  .footer__navigation {
    max-width: 50rem;
    width: 90%;
    border-top: 1px solid white;
    margin: 0 auto; }
  .footer__list {
    padding-top: .5rem;
    list-style: none;
    display: flex;
    justify-content: space-around; }
  .footer__link {
    transition: all 0.4s; }
    .footer__link, .footer__link:link, .footer__link:visited {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
    .footer__link:hover {
      border-bottom: 1px solid currentColor; }
  @media (max-width: 56.25em) {
    .footer {
      right: 0;
      width: calc(100% - 8rem); } }

.email-input,
.date-input,
.city-input {
  max-width: 400px; }

.city-input input {
  text-transform: uppercase; }

.date-input button,
.city-input button {
  font-size: 9px;
  border: 1px solid darkgray; }

.skyfly-form {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .skyfly-form .input-group {
    margin: 2px 0; }
  .skyfly-form .input-group-wrapper {
    max-width: 300px;
    width: 100%; }
  .skyfly-form input {
    font-size: 1.5rem; }
  .skyfly-form__progress-bar {
    display: none;
    max-width: 400px; }

#scatter-plot {
  height: 50vh; }
