$color-black: #000;

$color-midnight-blue: #16253d;
$color-dusk: #002c54;
$color-golden: #efb509;
$color-golden-light: #efd750;
$color-bronze: #cd7213;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-white: #fff;

$transition-time-medium: .4s;
$header-width-tab-land: 8rem;
$body-padding: 2rem
