{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block content %}

    <header>
        <h1 class="heading-primary">
            <span class="heading-primary__letter">W</span>
            <span class="heading-primary__letter">h</span>
            <span class="heading-primary__letter">e</span>
            <span class="heading-primary__letter">r</span>
            <span class="heading-primary__letter">e</span>
            <span class="heading-primary__letter">H</span>
            <span class="heading-primary__letter">o</span>
            <span class="heading-primary__letter">W</span>
            <span class="heading-primary__letter">h</span>
            <span class="heading-primary__letter">y</span>
        </h1>
    </header>
    {{ page.body|richtext }}
{% endblock %}