.quotes-list {
  color: $color-white;
  margin: 0;

  &__item {
    font-size: 1.2rem;
    padding: 0.8rem 0;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity linear .3s;

    &:hover {
      opacity: 1;
    }

    @include respond(tab-land) {
      opacity: 1;
    }
  }
}