{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="container mt-3">

        <h1>Projects</h1>

        <div class="my-3">
            <a href="https://lucene.apache.org/solr/guide/8_1/" target="_blank">
                <button type="button" class="btn btn-icon btn-outline-secondary"
                        style="background-image: url('{% static 'img/Solr.png' %}'); background-repeat: no-repeat; background-position: center"></button>
            </a>
            <a href="https://courses.edx.org/dashboard" target="_blank">
                <button type="button" class="btn btn-icon btn-outline-secondary"
                        style="background-image: url('{% static 'img/edx.png' %}'); background-repeat: no-repeat; background-position: center"></button>
            </a>
            <a href="{% url 'skyfly:index' %}" target="_blank">
                <button type="button" class="btn btn-icon btn-outline-secondary"
                        style="background-image: url('{% static 'img/skyfly.png' %}'); background-repeat: no-repeat; background-position: center; background-size: contain"></button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-icon btn-outline-secondary" data-toggle="modal"
                        data-target="#createProjectModal"><span class="icon-plus"></span></button>
            </a>
        </div>

        <div class="my-5">
            <h2>UML<span class="icon-plus new-post" data-toggle="modal" data-target="#newPostModal" data-project="UML" data-id="1">&nbsp;New post</span></h2>
            <h5>Exercises</h5>
            <ul>
                <li><a href="http://www.cs.unibo.it/~cianca/wwwpages/ids/esempi/uml-s.pdf">http://www.cs.unibo.it/~cianca/wwwpages/ids/esempi/uml-s.pdf</a>
                </li>
                <li><a href="https://www.lix.polytechnique.fr/~liberti/teaching/isic/inf561-07/umlexsol.pdf">https://www.lix.polytechnique.fr/~liberti/teaching/isic/inf561-07/umlexsol.pdf</a>
                </li>
                <li><a href="http://sce2.umkc.edu/bit/burrise/pl/modeling/qanda.html">http://sce2.umkc.edu/bit/burrise/pl/modeling/qanda.html</a>
                </li>
            </ul>
        </div>

        <div class="my-5">
            <h2>Solr</h2>
            <h5>Solr and Elasticsearch</h5>
            <p>
                Why chose one over the other? Which one should I chose? What fits my need best?
                I have found an article today that describes the <a
                    href="https://sematext.com/blog/solr-vs-elasticsearch-differences/">differences between
                Elasticsearch and Solr</a> with satisfying detail. Here are some reasons why Elasticsearch is good:
            </p>
            <ol>
                <li>Easy to use, due to it's JSON API</li>
                <li>Easy to set up</li>
                <li>Caches are rebuilt fast</li>
            </ol>
            <p>The first point seems very attractive, since it
                gives you a lot of flexibility in designing your own queries. Solr
                also has a limited JSON API since version 7. I should probably take a look at <a
                        href="https://lucene.apache.org/solr/guide/7_1/json-query-dsl.html">that</a>. Another advantage
                is the availability of
                <a href="https://elasticsearch-py.readthedocs.io/en/master/index.html">a well documented python
                    library</a> for Elasticsearch. Pysolr has None 😡. The advantages of Solr are:</p>
            <ol>
                <li>Faceting</li>
                <li>Full Text search features</li>
            </ol>
            <p>It seems to me that Solr is a bit more advanced and requires much more expert knowledge, but offering at
                the same time a sick amount of full text search capabilities, also including machine learning which I
                did not mention in my list, since I really can not do anything with it at the moment.</p>
            <p>So TBH, it seems that Solr is maybe a bit too much for the beginning, since I can have a much steeper
                learning curve with Elasticsearch for the beginning... It depends on what I want to use it for. I don't
                know...</p>
        </div>

        <div class="my-5">
            <h2>WhereHoWhy</h2>
            <p>
                This is my playground, where I apply the new skills I learn as a software developer, and note solutions
                to
                problems I solve along the way.
            </p>
            <h5>refurbish</h5>
            <p>
                My website needs definitely some improvements. First I need some models for my posts and a serious text
                editor such as CKEditor or TinyMCE. Second I have to structure my posts and add a post/update date on
                them. And I finally need to use some SCSS for my styling instead of plain CSS.
            </p>
            <h5>redirect wherehowhy.com to www.wherehowhy.com</h5>
            <p>
                This annoyed me for a long time, but finally I managed to change my nginx settings to redirect from
                wherehowhy.com to www.wherehowhy.com.
                <script src="https://gist.github.com/ViggieSmalls/8049d4dff73c3949996f2c8e1918dcf3.js"></script>
            </p>
        </div>

        <div class="my-5">
            <h2 class="mt-3">Skyfly</h2>
            <p>
                My favourite toy.
            </p>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <ul>
        <li><a href="https://iconscout.com/icon/solr" target="_blank">Solr Logo Icon</a> by <a
                href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">Iconscout</a>
        </li>
    </ul>
{% endblock %}

{% block modals %}
    <!-- Project Modal -->
    <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog"
         aria-labelledby="createProjectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createProjectModalLabel">Create a new Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createProjectForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="newProject">
                        {{ project_form }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="createProjectForm" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Post Modal -->
    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog"
         aria-labelledby="Create a new post"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPostModalLabel">New post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newPostForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="newPost">
                        <input type="hidden" name="projectID" value="">
                        {{ post_form }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="newPostForm" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $('#newPostModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            const projectName = button.data('project');
            const projectID = button.data('id');
            var modal = $(this);
            modal.find('.modal-title').text('New post in project ' + projectName);
            modal.find('.modal-body input[name=projectID]').val(projectID)
        })
    </script>
{% endblock %}
