{% load static %}
<div class="content-box bg-transparent star-wars">

    <div class="crawl">

        <div class="title">
            <p>Quote</p>
            <h1>Jordan B. Peterson</h1>
        </div>

        <p>"Say what you mean, so you can find out what you mean. Act out what you say, so you can find out what
            happens. Then pay attention. Note your errors. Articulate them. Strive to correct them.</p>
        <p>That is how you discover meaning in your life and protect yourself from tragedy. How could it be
            otherwise?"</p>


    </div>

</div>