amqp==2.4.2
beautifulsoup4==4.6.0
billiard==3.6.0.0
blessings==1.7
bpython==0.18
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
curtsies==0.3.0
dj-database-url==0.5.0
Django==2.2.7
django-extensions==2.1.7
django-modelcluster==5.0
django-taggit==1.1.0
django-treebeard==4.3
djangorestframework==3.10.3
draftjs-exporter==2.1.7
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
kombu==4.5.0
Pillow==6.2.1
psycopg2==2.8.2
Pygments==2.4.1
python-dateutil==2.8.0
python-decouple==3.1
pytz==2018.9
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
typing==3.6.6
Unidecode==1.1.1
urllib3==1.24.3
vine==1.3.0
wagtail==2.7
wcwidth==0.1.7
webencodings==0.5.1
Willow==1.3
