{% extends "body.html" %}

{% block content %}
    <main class="main">

    </main>
    <nav class="sidebar">
        <ul class="side-nav">
            <li class="side-nav__item">Maecenas egestas arcu</li>
            <li class="side-nav__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class="side-nav__item">Aliquam consequuntur cum fugiat itaque modi natus nemo placeat qui
                recusandae
            </li>
            <li class="side-nav__item">Ab at consequatur deserunt dolorum hic itaque modi quasi quidem sit</li>
            <li class="side-nav__item">Maecenas egestas arcu</li>
            <li class="side-nav__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class="side-nav__item">Aliquam consequuntur cum fugiat itaque modi natus nemo placeat qui
                recusandae
            </li>
            <li class="side-nav__item">Ab at consequatur deserunt dolorum hic itaque modi quasi quidem sit</li>
        </ul>
    </nav>
{% endblock %}
