{% extends 'root.html' %}
{% load static %}

{% block extra_css %}

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/scatter-plot.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'icomoon/style.css' %}"/>

{% endblock %}


{% block content %}
    <div class="content">
        <div class="content-box">
            <div id="scatter-plot"></div>

            <ul class="scatter-control">
                <li>Status: {% if finished %}<span class="icon-checkmark green"></span>{% else %}
                    <span class="icon-hour-glass"></span>{% endif %}</li>
                <li><label>Points per city:&nbsp;<input id="number-of-points" type="number" min="1" value="20"
                                                        onchange="updateScatterPlot()"></label></li>
            </ul>
            <div class="scatter-control">
                <a href="{% url 'skyfly:request-csv-data' request_uuid %}" download>
                    <button>Download full data</button>
                </a>
            </div>

            <div class="acknowledgments">
                <p>Plane icons designed by <a href="http://www.freepik.com"><strong>Freepik</strong></a> from <a
                        href="http://www.flaticon.com"><strong>www.flaticon.com</strong></a></p>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'js/scatter-plot.js' %}"></script>
    <script>
        let myScatterPlot = scatterPlot({
            containerId: "scatter-plot",
            dataURL: "{% url 'skyfly:request-csv-data' request_uuid %}?n=" + $('#number-of-points').val()
        });

        function updateScatterPlot() {
            const new_dataURL = "{% url 'skyfly:request-csv-data' request_uuid %}?n=" + $('#number-of-points').val();
            d3.csv(new_dataURL).then(data => {
                data.forEach(d => {
                    d.delta_t = +d.delta_t;
                    d.y = +d.y;
                    d.t0 = moment.unix(+d.t0);
                    d.t1 = moment.unix(+d.t1);
                    d.opacity = +d.opacity;
                });
                myScatterPlot.data = data;
                myScatterPlot.render();
            });
        }
    </script>
{% endblock %}