{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/skyfly.css' %}">
{% endblock %}

{% block content %}

<h1 id="skyfly-header">Skyfly <span>from</span> <input id="city-from" type="text" placeholder="MUC"></h1>
<div>
    <form action=".">
    <table class="text-centered" id="destination-table">
        <thead>
            <tr>
                <th>City</th>
                <th>Price</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {# here comes the dynamicly added content #}
        </tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="city"></td>
                <td><input type="number" id="price"></td>
                <td><input type="color" id="color"></td>
            </tr>
            <tr>
                <td colspan="3"><button class="js-addDestination is-fullwidth" type="button">Save row and add a new one</button></td>
            </tr>
        </tfoot>
    </table>
    <table class="text-centered" id="date-table">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            {# here comes the dynamicly added content #}
        </tbody>
        <tfoot>
            <tr>
                <td><input data-toggle="datepicker" id="time_from"></td>
                <td><input data-toggle="datepicker" id="time_until"></td>
            </tr>
            <tr>
                <td colspan="2"><button class="js-addTimeFrame is-fullwidth" type="button">Save row and add a new one</button></td>
            </tr>
        </tfoot>
    </table>
    </form>
    <button class="js-readTable">Submit</button>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/skyfly.js' %}" type="text/javascript"></script>
{% endblock %}