{% extends 'base.html' %}
{% block content %}

<h1>Skyfly</h1>

<form action=".">
<table class="text-centered" id="destination-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Price</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        {# here comes the dynamicly added content #}
    </tbody>
    <tfoot>
        <tr>
            <td><input type="text" id="city" name="#city"></td>
            <td><input type="number" id="price"></td>
            <td><input type="color" id="color"></td>
        </tr>
        <tr>
            <td colspan="3"><button class="js-addDestination is-fullwidth" type="button">Save row and add a new one</button></td>
        </tr>
    </tfoot>
</table>
<table class="text-centered" id="date-table">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        {# here comes the dynamicly added content #}
    </tbody>
    <tfoot>
        <tr>
            <td><input data-toggle="datepicker" id="time_from"></td>
            <td><input data-toggle="datepicker" id="time_until"></td>
        </tr>
        <tr>
            <td colspan="2"><button class="js-addTimeFrame is-fullwidth" type="button">Save row and add a new one</button></td>
        </tr>
    </tfoot>
</table>
</form>

    <button class="js-readTable">Test</button>

{% endblock %}