{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

    <style>
      #scatter-plot {
        width: 960px;
        height: 600px;
        {#margin: 20px auto;#}
      }
    </style>

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/scatter-plot.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'icomoon/style.css' %}"/>

{% endblock %}


{% block content %}
    <div id="scatter-plot"></div>

    <a href="{% url 'skyfly:request-csv-data' request_hash %}">
        <button>Download full data</button>
    </a>
{% endblock %}

{% block extra_js %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="{% static 'js/scatter-plot.js' %}"></script>
    <script>
        let intervalID = null;
        const myScatterPlot = scatterPlot({
            containerId: "scatter-plot",
            dataURL: "{% url 'skyfly:request-csv-data' request_hash %}"
        });
        $(document).ready(function () {
            intervalID = setInterval(updateScatterPlot, 5000)
        });

        function updateScatterPlot () {
            $.ajax({
                url: "{% url 'skyfly:request-info' request_hash %}",
                success: function (data) {
                    if (data['status'] === 'running') {
                        myScatterPlot.render();
                    } else if (data['status'] === 'finished') {
                        clearInterval(intervalID)
                    }
                }
            })
        }

    </script>
{% endblock %}